/TpLabo5_EjercicioAgenda/build/
/TpLabo3_Ejercicio1_AppGUI/build/
/TpLabo3_Ejercicio1_AppGUI/nbproject/private/
/TpLabo3_Ejercicio2_ConversordeTemp/build/
/TpLabo3_Ejercicio2_ConversordeTemp/nbproject/private/
/TpLabo4_EjercicioColegio/build/
/TpLabo4_EjercicioColegio/nbproject/private/
/TpLabo6_EjercicioGestionProductos/nbproject/private/
/TpLabo6_EjercicioGestionProductos/build/
/ManejadorProductos/nbproject/private/
/ManejadorProductos/build/
